  
body,
* {
    color: #fff;
    background-color: #7A36AD;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#content { margin: 15% auto 0; width: 100%; }
#logo { margin: 0 auto; display: block; width: 250px; }
#logo img { height: 100%; width: 100%;  }


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) { 


  #content {
    width: 80%;
    height: 100%;
  }

}