{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "restParams": true,
    "spread": true,
    "experimentalObjectRestSpread": true
  },
  "extends": "airbnb",
  "plugins": [
    "babel",
    "react"
  ],
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "after-used",
      "varsIgnorePattern": "React"
    }],
    "newIsCap": 0,
    "strict": 0,
    "import/no-unresolved": 0,
    "react/prefer-stateless-function": 0,
    "new-cap": 0
  }
}
